<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#b01").click(function () {
                htmlobj = $.ajax({url: "http://www.w3school.com.cn/jquery/test1.txt", async: false});
                $("#myDiv").html(htmlobj.responseText);
            });
        });
    </script>
</head>
<body>

<div id="myDiv"><h2>drugsystem</h2></div>
<button id="b01" type="button">change</button>

</body>
</html>
