<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MedCare首页</title>
    <link href="../static/img/logo.png" rel="SHORTCUT ICON"/>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="../static/css/index.css" rel="stylesheet">
</head>

<body>
<div>
    <canvas id="canvas" width="1280" height="346"></canvas>
    <script src="../static/js/index/index.js"></script>
</div>
<div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron" style="opacity: 0.8">
        <div>
            <h1><img src="../static/img/logo.png" width="130" height="130"/>药物警戒系统</h1>
            <h3><strong>2019年信息系统课设</strong></h3>
            <p class="lead"><strong>本系统核心功能是辅助普通病患进行药物的选择，对可能产生危害作用的药物进行示警。</strong></p>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <div class='col-backgroud'></div>
            <div class='inner-col-lg'>
                <h2>药物作用</h2>
                <p>如果您非常明确地想知道若干种药物之间的相互作用，请点击这里。</p>
                <p><a class="btn btn-primary" href="drugsInteraction.html" role="button">快点我&raquo;</a></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class='col-backgroud'></div>
            <div class='inner-col-lg'>
                <h2>疾病开药</h2>
                <p>如果您知道自己所患疾病，想知道需要开哪些药，请点击这里。</p>
                <p><a class="btn btn-primary" href="drugSearch.html" role="button">快点我&raquo;</a></p></div>
        </div>
        <div class="col-lg-4">
            <div class='col-backgroud'></div>
            <div class='inner-col-lg'>
                <h2>诊断系统</h2>
                <p>如果您觉得身体有些不舒服，想了解一下可能患上的疾病，请点击这里。</p>
                <p><a class="btn btn-primary" href="diagnose.html" role="button">快点我&raquo;</a></p>
            </div>
        </div>
    </div>
    <div>
        <p style="text-align: center; opacity: 0.75; color: #8c8c8c">预测有风险，使用需谨慎</p>
        <p style="text-align: center; opacity: 0.75; color: #8c8c8c">任何后果，概不负责</p>
    </div>
</div>


</body>
</html>
